<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Reservations</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a asp-area="" asp-controller="Sessions" asp-action="Index">Sessions</a>
            </div>
            <div class="nav-right">
                @if (Context.Session.GetInt32("UserId") != null)
                {
                    <span class="welcome">Welcome @Context.Session.GetString("UserName")</span>
                    <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline">
                        <button type="submit" class="nav-btn">Logout</button>
                    </form>

                    @if (Context.Session.GetInt32("RoleId") == 1)
                    {
                        <a class="nav-link" asp-controller="Admin" asp-action="Index">User Management</a>
                    }
                }
                else
                {
                    <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a><a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <hr />
        <p>&copy; 2025 - Reservations</p>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
